In [1]:
import os

In [2]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)

In [3]:
data_file = os.path.join("..", 'data', 'house_tiny.csv')

In [4]:
with open(data_file, 'w', encoding="utf-8") as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv(data_file)

In [7]:
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [15]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]

In [16]:
inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

In [17]:
outputs

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [18]:
inputs = pd.get_dummies(inputs, dummy_na=True)

In [19]:
inputs

   NumRooms  Alley_Pave  Alley_nan
0       NaN        True      False
1       2.0       False       True
2       4.0       False       True
3       NaN       False       True

In [20]:
inputs.to_numpy()

array([[nan, True, False],
       [2.0, False, True],
       [4.0, False, True],
       [nan, False, True]], dtype=object)